.settings {
	display: flex;
}

.settings > div {
	width: calc(100% / 3);
	padding: 20px;
	height: 100vh;
}

.settings__buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button {
	width: 200px;
	height: 40px;
	margin: 5px 0;
	background: white;
	border: 1px solid black;
	transition: all 0.4s;
	cursor: pointer;
	font-weight: bold;
	outline: none;
}

.button:hover {
	background: deepskyblue;
}

.button--names {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button--small {
	width: 140px;
	height: 30px;
	margin: 2.5px 0;
}

.button--danger {
	background: red;
}
.button--danger:hover {
	color: white;
	background: darkred;
}

.button--disabled {
	background: darkgray !important;
	cursor: not-allowed;
	opacity: 0.3;
}

.settings__prizes-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.settings__prize-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 260px;
}
